<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <%- include('partials/header') %>
<<<<<<< HEAD
    <div id="page-header">
      <h2>WalkHome</h2>
=======
    <!-- <div id="page-header">
      <h2>Walkhome</h2>
>>>>>>> cfad9aef7a43c34f2146cbd0f014ccd53484c92a
    </div>
    <div id="page"> -->

    </div>
  </body>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</html>