<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
<<<<<<< HEAD
    <%- include('partials/header') %>
<<<<<<< HEAD
    <div id="page-header">
      <h2>WalkHome</h2>
=======
    <!-- <div id="page-header">
      <h2>Walkhome</h2>
>>>>>>> cfad9aef7a43c34f2146cbd0f014ccd53484c92a
    </div>
    <div id="page"> -->

    </div>
=======
      <%-include('partials/hero') %>
   PAGE CONTENT BEGINS SOMEWHERE HERE
>>>>>>> 479bf294c4eb21f8b125ccc1669f4b7d2492e790
  </body>
  <footer>
    <%- include('partials/footer') %>
  </footer>
  <script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
 <script>var heroShinker = function() {
     var hero = $('.hero-nav'),
         heroHeight = $('.hero-nav').outerHeight(true);
         $(hero).parent().css('padding-top', heroHeight);
     $(window).scroll(function() {
         var scrollOffset = $(window).scrollTop();
         if (scrollOffset < heroHeight) {
             $(hero).css('height', (heroHeight - scrollOffset));
         }
         if (scrollOffset > (heroHeight - 215)) {
             hero.addClass('fixme');
         } else {
             hero.removeClass('fixme');
         };
     });
 }
 heroShinker();</script>
</html>